# Node.js dependencies (client and server)
node_modules/

# Client build artifacts
client/build/
client/.cache/
client/dist/

# Server build artifacts (if applicable)
server/dist/
server/services/import/data/
server/services/export/data/
server/notes.txt

# Ignore logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment variables
*.env

# Ignore package-lock and yarn.lock if you want
# (keep if version-locking is desired)
# package-lock.json
# yarn.lock

# Ignore IDE or editor folders (optional)
.vscode/
.idea/
.DS_Store

# skip some files
client/src/components/FilterSidebar/FilterSidebar-old-old.tsx
client/src/components/FilterSidebar/FilterSidebar-old.tsx
client/src/components/ProductList/product-list-old.txt