@import '../../styles/variables.scss';


.xyzProductList {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;

  .xyzProductItem {
    flex: 1 1 calc(33.33% - 30px); /* Three items per row on larger screens */
    max-width: calc(33.33% - 30px);
    box-sizing: border-box;
    padding: 15px;
    color: $main-color;
    text-decoration: none;
    &:hover {
      color: $second-color;//$main-color;
      // Apply the hover to all child elements except .xyzPprice
      // .xyzProductDetail *:not(.xyzPprice) {
      //   color: $main-color;//$second-color;
      // }
    }
  }
  .xyzPname {
    font-family: $open-sans-condensed;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
  
  }
  .xyzPprice {
    font-family: $arial-font;
    color: $main-color;
  }
  /* For tablet-sized screens (768px - 1024px) */
@media (max-width: 1024px) {
  .xyzProductItem {
    flex: 1 1 calc(50% - 20px); /* Two items per row */
    max-width: calc(50% - 20px);
  }
}

@media (max-width: 820px) {
  .xyzProductItem {
    flex: 1 1 calc(50% - 20px); /* Two items per row */
    max-width: calc(50% - 20px);
  }
}


/* For mobile screens (max-width: 768px) */
@media (max-width: 768px) {
  .xyzProductItem {
    flex: 1 1 calc(50% - 20px); /* Two items per row on mobile */
    max-width: calc(50% - 20px);
  }
}

/* For smaller mobile screens (max-width: 480px) */
@media (max-width: 480px) {
  .xyzProductItem {
    flex: 1 1 100%; /* One item per row */
    max-width: 100%;
  }
}

}



///////////////////////////
.searchInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.productImage {
  //width: 100%;
  //aspect-ratio: 4 / 3;     
  //object-fit: contain;

}

@keyframes shimmer {
  0% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}

/* Fade-in */
.imgLoading {
  opacity: 0;
  transition: opacity .22s ease-in;
}
.imgLoaded {
  opacity: 1;
  transition: opacity .22s ease-in;
}