@import '../../styles/variables.scss';

// .sidebar {
//     padding: 20px;
//     background-color: #f5f5f5;
//     width: 250px;
//     border-right: 1px solid #ccc;
// }


.sidebar {
  font-family: $arial-font;
  color: $main-color;
  .filterItem {
    cursor: pointer;
    padding: 10px 0;
    list-style: none;
    
    &:hover {
      color: #fff;
    }
  }
  
  .filter-section {
    margin-bottom: 20px; /* Space between filter sections */
  }
    
  .filter-list {
    padding-left: 20px;
    line-height: 1.3;

  }
  
  .filter-item {
    margin-bottom: 8px; /* Space between filter items */
  }
}
.sidebar-checkbox-label {
  display: flex;
  align-items: center;
}

.sidebar-checkbox-input {
  margin-right: 8px; /* Space between checkbox and label */
}

.range-slider {
  width: 100%;
  height: 25px;
  margin-top: 10px;
}

.range-slider-thumb {
  height: 15px;
  width: 15px;
  background-color: #fe0000;
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.range-slider-track {
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  background: #efece9;
  border-radius: 2px;
}

.range-slider-track.range-slider-track-1 {
  background: #3f51b5;
}

.range-values {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}


.unit-switcher {
  margin-bottom: 10px;
}

.unit-switcher button {
  padding: 5px 10px;
  cursor: pointer;
}
