//@import '../../styles/variables.scss';
@use '../../styles/variables' as *;



.sortBy {
    //font-family: $arial-font;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}
.sort-dropdown {
    display: flex;
    align-items: center;  
    gap: 10px;            
  
    .sortBy {
      white-space: nowrap; 
      margin: 0;            
    }
  
    .form-select {
      flex-grow: 1;       
    }
  }
  .xyz-form-select {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    //font-family: $arial-font!important;
    color: rgb(124, 137, 154);
    padding-right: 1.75rem;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
  }
  